@model List<WebApplication2.Models.ApplicationUser>
@{
    ViewBag.Title = "Admin";
}

<h2>Админ</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <table border="1">
            <tr><th>Пользователь</th><th>Редактирование</th></tr>
            @foreach (var user in Model)
            {              
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @using (Html.BeginForm("ChangeAdmin", "Home"))
                        {
                            <div class="form-group">
                                <input type="submit" value="Сделать админом" />
                            </div>
                        }
                    </td>
                </tr>                
            }
        </table>       
    </dl>
</div>