<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b4b31d22-f2e0-42cb-aee7-021b703ab32f/resourcegroups/WebApplication220200923130218ResourceGroup/providers/Microsoft.Web/sites/WebApplication220200923130218</ResourceId>
    <ResourceGroup>WebApplication220200923130218ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapplication220200923130218.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication220200923130218.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication220200923130218</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication220200923130218</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:itrcoursefree.database.windows.net,1433;Initial Catalog=WebApplication2_db;User ID=olga@itrcoursefree;Password=Qweewq123" Name="Data Source=tcp:itrcoursefree.database.windows.net,1433;Initial Catalog=WebApplication2_db;User Id=olga@itrcoursefree;Password=Qweewq123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication2.Models.ApplicationDbContext, WebApplication2" MigrationConfiguration="WebApplication2.Migrations.Configuration, WebApplication2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:itrcoursefree.database.windows.net,1433;Initial Catalog=WebApplication2_db;User Id=olga@itrcoursefree;Password=Qweewq123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>